.pageWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: calc(var(--padding-step) * 3);
    align-items: center;
    height: 100vh;
    background-color: var(--secondary-bg);
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: calc(var(--padding-step) * 5);
    padding: calc(var(--padding-step) * 6);
    background-color: var(--primary-bg);
    max-width: 80%;
    width: 400px;
    border-radius: calc(var(--border-radius) * 2);
    border-color: var(--primary);
    border-width: var(--border-step);
    border-style: solid;
}

.title {
    text-align: center;
}
