.text {
    font-size: var(--font-size-primary);
    margin: 0;
}

.text--h1 {
    font-size: var(--font-size-h1);
}

.text--h2 {
    font-size: var(--font-size-h2);
}

.text--h3 {
    font-size: var(--font-size-h3);
}

.text--h4 {
    font-size: var(--font-size-h4);
}

.text--h5 {
    font-size: var(--font-size-h5);
}

.text--h6 {
    font-size: var(--font-size-h6);
}

.text--p {
    font-size: var(--font-size-primary);
}

.text--span {
    font-size: var(--font-size-secondary);
}

.text--primary {
    color: var(--text-primary);
}

.text--secondary {
    color: var(--text-secondary);
}
