body {
    margin: 0;
}

* {
    transition: 0.3s;
}

:root {
    font-family: 'system-ui', monospace, sans-serif;
    --font-size-primary: 16px;
    --font-size-secondary: 12px;
    --font-size-h1: 28px;
    --font-size-h2: 22px;
    --font-size-h3: 20px;
    --font-size-h4: 18px;
    --font-size-h5: 16px;
    --font-size-h6: 14px;

    --padding-step: 4px;
    --border-radius: 6px;
    --border-step: 1px;
}

[data-theme="light"] {
    --primary: #a5a474;
    --secondary: #90709b;


    --primary-bg: #cfce91;
    --secondary-bg: #b48dc2;
    --text-primary: #161a15;
    --text-secondary: #737572;
}

[data-theme="dark"] {
    --primary: #99404c;
    --secondary: #161a15;


    --primary-bg: #ad666f;
    --secondary-bg: #444743;
    --text-primary: #f9fafb;
    --text-secondary:#aeafaf;
}
