.button {
    padding: var(--padding-step);
    font-size: var(--font-size-primary);
    color: var(--text-primary);
    background-color: var(--primary-bg);
    border-radius: var(--border-radius);
    border-color: var(--primary);

    border-width: var(--border-step);
    border-style: solid;
}